.isso-form-wrapper {
    display: flex !important;
    flex-direction: column;
}

.isso-auth-section {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

p.isso-input-wrapper {
    max-width: 90% !important;
}

p.isso-post-action {
    width: 100%;
}

p.isso-post-action > input {
    background-color: #cd2653 !important;
    color: white !important;
    padding: 5px !important;
    align-self: center !important;
    width: 80% !important;
}

p.isso-post-action:nth-of-type(4) {
    grid-column: 3 / 3;
}

p.isso-post-action:nth-of-type(5) {
    grid-column: 2 / 2;
    grid-row: 2;
}

p.isso-post-action:nth-of-type(6) {
    grid-column: 1 / 1;
    grid-row: 2;
}

p.isso-post-action > input[type = submit] {
    grid-column: 3 / 3;
}